body{
    width: 95%;
    height: 100%;
    background-image: url("background.jpg");
    background-size: cover;
}
.form {
    text-align: center;
    padding-top: 20%;
}
.textbox{
    
    width:40%;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    font-size: large;
    font-weight: bolder;
    padding: 0 10px 0 10px;

}
.textbox:focus{

    border-color: red;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
}
.submitbutton{

    width: 10%;
    height: 55px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.2vw;
    font-weight: bold;
}
